.photoDiv {
    position: absolute;
    margin: 1%;
    width: 20%;
    height: 40%;
    top: 11%;
    border: 2px solid black;
    background: url(images/Photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 3px 3px 2px #A4DDFA;
   
}
.addPhotoLabel{
	position: absolute;
    margin: 1%;
    top: 53%;
    width: 20%;
    color: white;
    text-align: left;
    font-size: 1.1vw;        
    visibility: visible;
    text-shadow: 3px 3px 6px blue;
    
}
.personalAreaLabel{
	position: absolute;
    margin: 1%;
    width: 98%;
    height: 10%;
    color: white;
    text-align: center;
    font-size: 2.3vw;          
    visibility: visible;
    text-shadow: 3px 3px 6px blue;
}
.personalInfo{
	position: absolute;
    margin: 1%;
    width: 35%;
    left: 22%;
    height: 40%;
    top: 11%;
    border: 2px solid black;
    background-color: white;
    box-shadow: 3px 3px 2px #A4DDFA;
}

.buttonDeleteEmployee {
    position: absolute;
    left: 85%;
    top: 57%;
    width: 11%;
    height: 6%;
    color: red;
    font-size: 1.7vw;
    text-align: center; 
    text-shadow: 3px 3px 6px green;
    box-shadow: 7px 7px 5px #3A3939;
    border-style: outset;
    cursor: pointer;
}

.buttonDeleteEmployee:hover {
    color: #1AA0FD;
}

.buttonDeleteEmployee:active {
    color: #1AA0FD;
    box-shadow: 0.5px 0.5px 0.5px #3A3939;
    border-style: inset;
}
.photoForm{
	position: absolute;
    margin: 1%;
    top: 60%;
    width: 20%;
    height: 15%;
    color: white;       
    visibility: visible;
    border: 2px solid black;
    background-color: white;
    box-shadow: 3px 3px 2px #A4DDFA;
}
.changePhotobuttonStyle{
	position: absolute;
    top: 3%;
    left: 5%;
    width: 90%;
    color: black;       
    visibility: visible;
    box-shadow: 3px 3px 2px #A4DDFA;
}